body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #aaa;
}

/* Style the homepage*/

main {
  padding: 20px;
  text-align: center;
}

main img {
  margin: 10px;
  width: 50%;
}

table,
table img {
  width: 100%;
}

table td {
  padding: 0;
}
